<div class="main-menu hidden-xs">
    <nav>
        <ul>
            <li><a href="/home/index">HOME</a></li>
            <li>
                <a href="room-grid.html">ROOMS</a>
                <ul class="submenu">
                    <li><a href="room-list.html">ROOM LIST</a></li>
                    <li><a href="room-details.html">ROOM DETAILS</a></li>
                </ul>
            </li>
            <li><a href="location.html">LOCATION</a></li>
            <li><a href="/event/index">EVENT</a></li>
            <li>
                @Html.ActionLink("TEAM", "team", "index")
            </li>
            <li>
                <a href="@Url.Action("contact", "home")">CONTACT</a>
            </li>

            <li>
                @if(User.Identity.IsAuthenticated)
                {
                    <a href="/Account/LogOut">@User.Identity.Name | Logout</a>
                }
                else
                {
                    <a href="/Account/Login">Login</a>
                }
            </li>
        </ul>
    </nav>
</div>